@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply font-inter tracking-wides bg-brand-black-100 text-brand-black-500
  }
}

h2 {
  @apply font-semibold !tracking-normal text-2xl lg:text-32
}


h3 {
  @apply font-semibold -tracking-[-0.2%] text-xl lg:text-2xl
}

.button-green {
  @apply bg-brand-green-400 text-white rounded transition duration-200 hover:bg-brand-green-500
}

.button-green-outline {
  @apply border border-brand-black-200 rounded transition duration-200 hover:border-brand-black-400
}

.rotate svg {
  @apply rotate-180 transition duration-300
}

.tab-active {
  @apply block w-full text-left bg-brand-green-100 py-2 px-4;
}

.tab-noactive {
  @apply block w-full text-left transition duration-200 hover:bg-brand-green-100 py-2 px-4;
}

.custom-password {
  letter-spacing: 2px;
  font-family: 'Arial', sans-serif;
}


.filter-content {
  @apply absolute lg:static -translate-x-full top-0 transition duration-300;
}


.fade-left {
  animation: fadeLeft 0.3s ease-in-out forwards;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards, scaleIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Radio Input Styles */
.cart-radio:checked+label div {
  @apply border-brand-green-400;
}

.cart-radio:checked+label div span {
  @apply block;
}

.cart-radio:checked+label div,
.cart-radio:checked~label {
  @apply text-brand-green-400;
}

/* 2 */
.radio-dark:checked+label div {
  @apply border-brand-dark;
}

.radio-dark:checked+label div span {
  @apply block;
}

.radio-dark:checked+label div,
.radio-dark:checked~label {
  @apply text-brand-green-400;
}

.checkbox-custom {
  @apply inline-block relative appearance-none min-w-5 size-5 border rounded bg-transparent
}

.checkbox-custom:checked {
  @apply border-brand-black-500
}

.checkbox-custom:checked::after {
  content: '';
  transform: translate(-50%, -50%);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20.285 6.708l-11.145 11.145-5.145-5.145 1.415-1.414 3.729 3.728 9.732-9.732z"/></svg>');
  @apply bg-contain bg-no-repeat absolute top-1/2 left-1/2 size-3 text-brand-black-500
}



/* Checkbox */
.sort-checkbox-input:checked+.sort-checkbox-label .sort-checkbox-box {
  @apply bg-brand-green-400 border-brand-green-400;
}

.sort-checkbox-input:checked+.sort-checkbox-label .sort-checkbox-box svg {
  @apply block;
}

/* Radio */
.sort-radio-input:checked+.sort-radio-label .sort-radio-box {
  @apply border-brand-green-400;
}

.sort-radio-input:checked+.sort-radio-label .sort-radio-box span {
  @apply block;
}

.toggle-button::after {
  height: calc(100% - 5px);
  @apply absolute left-[3px] top-1/2 -translate-y-1/2 w-1/2 rounded border border-[#33C445] transition-all content-[''] peer-checked:translate-x-full peer-checked:-left-[3px]
}


.custom-checkbox:checked,
.custom-checkbox:not(:checked) {
  display: none;
}

.custom-checkbox:checked+label,
.custom-checkbox:not(:checked)+label {
  @apply relative size-4 overflow-hidden inline-block cursor-pointer;
}

.custom-checkbox:checked+label:before,
.custom-checkbox:not(:checked)+label:before {
  content: '';
  @apply absolute left-0 right-0 size-4 bg-transparent border rounded-sm;
}

.custom-checkbox:checked+label:after,
.custom-checkbox:not(:checked)+label:after {
  content: '';
  @apply absolute left-1/2 !-translate-x-1/2 top-1/2 !-translate-y-1/2 size-2.5 bg-brand-green-400 rounded-[1px];
}

.custom-checkbox:not(:checked)+label:after {
  -webkit-transform: scale(0);
  transform: scale(0);
  @apply opacity-0;
}

.custom-checkbox:checked+label:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  @apply opacity-100;
}



/* Scroll styles */
.no-scroll::-webkit-scrollbar {
  @apply h-0 w-0;
}

.card-scroll::-webkit-scrollbar {
  @apply w-0.5
}

::-webkit-scrollbar {
  @apply w-0.5 md:w-1.5 h-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-brand-green-200 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-brand-green-400 rounded-full;
}